@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    border: 1px solid red;
} */

*::selection {
    background-color: #175B65;
}

/* Used to format markdown since tailwind removes styles from default components */
.markdown * {
    padding : 5px 5px 5px 0px;
}

.markdown a {
    color: #7AB7FF;
    text-decoration: none;
}

.markdown code {
    background-color: #424242;
    padding: 3px;
    border-radius: 5px;
    margin: 0px;
}

.markdown ul{
    list-style-type: disc;
    padding-left: 20px;
}

.markdown blockquote {
    background-color: inherit;
    padding: 10px;
    border-left: 5px solid #4f4f4f;
    margin: 0;
}

.markdown h1 {
    font-size: 2rem;
    font-weight: bolder;
}

.markdown h2 {
    font-size: 1.75rem;
    font-weight: bolder;
}

.markdown h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.markdown h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

.markdown h5 {
    font-size: 1rem;
}

.markdown h6 {
    font-size: 0.75rem;
}

.markdown span{
    padding-right: 0px;
}

/* for rehype-mathjaxSVG mainly to center block equations and remove padding given from parent class markdown */
mjx-container[jax="SVG"] {
    padding: 0px 0px 0px 0px;
}

mjx-container[jax="SVG"] svg{
    padding: 0px 0px 0px 0px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

mjx-container[jax="SVG"][display="true"] svg{
    scale: 1.3;
}

mjx-container[jax="SVG"] {
    padding: 0px 0px 0px 0px;
}


/* for rehype-katex mainly because of markdown class putting everything */
.katex * {
    scale: 1;
    padding: 0px 0px 0px 0px;
}

/* For the table styles from remark-GFM */

.markdown table {
    margin:1px;
    border: 1px solid #525252;
}

.markdown table th {
    background-color: #383838;
    border: 1px solid #525252;
    color: white;
    padding: 5px;
}

.markdown table tr {
    border: 1px solid #525252;
}

.markdown table td {
    border: 1px solid #525252;
    padding: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}